
<%- partial ('../produto/filtros') %>

<br>
<br>

<a href="#" class="show_hide">	
 	<input type="button" name="btn-quickshop" value="Quickshop">
 </a>



<div id="lista-produtos" >

  <div id="produtos">
  <%
  produtos.forEach(function(p) { 
      var produto;
      if (tipo == 0) {
          produto = p;
      } else {
          produto = p._source;
      }
  %>

    <div class="box-produto col-lg-3 col-md-3 col-sm-6 col-xs-6" id="box-produto-<%= produto.id %>">
      <a onclick="abrirProduto(<%= produto.id %>, '/img/produtos/<%= produto.imagem %>')">
        <div>
          <img class="image-produto img-responsive" src="/img/produtos/<%= produto.imagem %>" alt="<%= produto.nome %>">
        </div>
        <br>
        <div class="info-produto">
          <div class="nome-produto">
            <%= produto.nome %>
          </div>
          R$ <%= produto.preco %>
        </div>
      </a>
    </div>
  <% 
  }); 
  %>
  </div>
<div>

