<ul>
    
  <% produtos.forEach(function(produto) { %>
    <li>
    <img src="../img/produtos/<%= produto.imagem %>" alt="<%= produto.nome %>" style="height:200px; width:200px;">
    
    <br>
    <%= produto.nome %>
    <button class="btn btn-primary btn-block ler-mais" id="abrir-noticia-1" >Leia Mais</button>
    </li>
  <% }); %>
</ul>


<!-- <ul>
    
  <% produtos.forEach(function(produto) { %>
    <% produto.filhos.forEach(function(filho) { %>
      <li>
      <% if (filho.mascara) { %>
      <svg width="200px" height="200px">
        <filter id="redden">
          <feColorMatrix type="matrix" values="1 0 1 0 0 
                                               0 0 0 0 0 
                                               0 0 0 0 0 
                                               0 0 0 1 0"/>
        </filter>

        <image filter="url(#redden)" width="200" height="200" 
        preserveAspectRatio="xMinYMin slice"
        xlink:href="../img/produtos/<%= produto.imagem %>"/>
      </svg>
      
      <% } else { %>
      <img src="../img/produtos/<%= produto.imagem %>" alt="<%= produto.nome %>" style="height:200px; width:200px;">
      <% } %>
      
      <br>
      <%= produto.nome %>
      </li>
    <% }) %>
  <% }); %>
</ul> -->